.login-page {
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.login-title {
    font-size: 36px;
}

.login-form {
    background-color: none;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
}

.form-control {
    background-color: transparent; /* Cambiar el fondo a transparente */
    color: white;
    width: 100%;
    max-width: 430px;
}

.form-control:focus {
    background-color: transparent; /* Asegura que permanezca transparente cuando esté enfocado */
    color: white;
    outline: none; /* Elimina el borde de enfoque predeterminado */
    box-shadow: none; /* Elimina la sombra del cuadro de enfoque predeterminado */
}

.login-btn {
    background-color: #0096D2;
    color: white;
    border: none;
    width: 100%;
    max-width: 428.5px;
    padding: 10px 0;
    display: block;
}

.login-btn:hover {
    background-color: #333C53;
}

.password-toggle-icon {
    cursor: pointer;
    color: #007bff;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;  /* Ajusta el tamaño del icono */
    height: 24px; /* Ajusta el tamaño del icono */
    padding: 0;   /* Asegura que no haya padding adicional */
    line-height: 0; /* Asegura que el contenedor del ícono no se expanda */
}

.password-toggle-icon:hover {
    color: #0056b3;
}

.login-form p {
    margin: 0;
    padding: 0;
}

.larger-image {
    position: relative;
    left: -30px;
    width: 100%;
    height: auto;
    max-width: 630.5px;
    margin-left: 64px;
}

@media (max-width: 768px) {
    .larger-image {
        left: 0;
        margin-left: 0;
        max-width: 100%;
    }
}
